*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(224, 224, 224);
}

#principal{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 50vw;
    height: 100%;
    position: relative;
}

div[id^="conteudo"]{
    margin:  61px 71px;
}

#container-left{
    height: 150%;
    width: 95vw;
    background-color: #767779;
    color: white;
}

#foto-perfil{
    height: 170px;
    width: 160px;
    border-radius: 100%;
    margin-left: 1px;

}


 
#cabecalho{
    display: flex;
    flex-direction: row;
   
   
}

#nome{
    margin: 43px 0px 7px 0px;
}

#nome-area{
    margin-left: 10px;
    color: white;
}

#download {
    color: white;
    background-color: white;
}

#area{
    margin: 0%;
}

h2[id^="h2"]{
    margin: 36px 0 10px 0;
    color: white;
}

p[id^="p-"]{
    line-height: 22px;
    margin: 0%;
    font-size: 16px;
}

li{
    margin: 0;
    line-height: 25px;
}



#container-right{
    width: 75vw;
    background-color: rgb(4, 51, 88)
    
    
}

#contato{
    margin-top: 200px;
    color: white;
} 

.icones{
    height: 16px;
    letter-spacing: 5px;
}

#conhecimentos{
    margin-top: 100px;
    color: white;
}
#table-conhecimentos{
    margin-top: 11px;
    color: white;
}

#endereco { 
    margin-top: 100px;
    color: white;
}

#table-endereco { 
    margin-top: 11px;
}

tr,td{
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    margin-top: 9px;
    width: 20vw;
    
}

h2{
    font-size: 20px;
}

#p-perfil,ul, li{
    color: white;
    font-size: 16px;
}

a{
    text-decoration: none;
}

a.link-projeto:link{
    color: black;
}
a.link-projeto:hover{
    color: blue;
    text-decoration: underline;
}
a.link-projeto:visited{
    color: darkgreen;
}
#email{
    color: #FFFFFF;
}





